
#posterContainer {
    text-align: center;
    margin-bottom: 40px;
    
}

#infographic{
    text-align: center;
}

.paragraph{
    float: right;
    width: 50%;
    padding-right: 80px;
    text-align: justify;
}
.poster{
    float: left;
}

/* .posterGrid{
    display: grid;
    grid-template-areas: "poster paragraph"
    "poster paragraph";
    
} */
.posterItem{
    display: inline-block;
    margin-right: 15px;
    width: 700px;
    text-align: justify;
    border-style: solid;
}

.infoGraphicItem {
    display: block;
    border-style: solid;
    margin: 30px 10%;
}

.infoPar{
    text-align: justify;
    padding: 10px 100px;
}

.infoPar h3{
    text-align: center;
}

body{
    text-align: center;
}
