@media (max-width: 414px) {
  .navLink {
    display: block;
    font-size: 24px;
    width: auto;
  }

  h3,
  h4 {
    font-size:24px;
  }

  p,
  li {
    font-size: 20px;
  }

  main {
    display: block;
  }

  nav li {
    display: block;
    margin: 0;
  }

  span {
    display:inline;
  }


  .left {
    /* width: 150; */
  }

  .right {
    width: 380px;
    padding: 10px;
    font-size: 24px;
  }

  .storyTeller {
    width: 414px;
    height: auto;
    margin: 10px 0;
  }

  .gridContainer {
    display: block;
  }

  .story {
    width: 414px;
  }

  .videoItem {
    border-width:2px;
    margin-top: 10px;
  }

  .videocontent {
    padding: 10px;
    width: 380px;
  }

  .posterItem{
    display: inline-block;
    width: 400px;
    margin:10px auto;
    border:none;
  }

  .posterItem a {
    position:relative;
    left: 83px;
  }

  .poster{
      float: none;
      text-align: center;
  }
  .paragraph{
      float: none;
      width: 380px;
      padding: 5px;
      text-align: justify;
  }

  .paragraph h3 {
    text-align: center;
  }

  .onlineinfo {
    width:300px;
    position:relative;
    right: 30px;
  }

  .infoPar h3 {
    padding: 0 auto;
  }

  .infoPar{
      width:380px;
      padding: 5px;
  }

  .infoPar p {
    text-align:justify;
  }


  #wrapper {
    width: 400px;
  }

  #contacts {
    margin-bottom: 15px;
    width:auto;
    height:auto;
    left:auto;
    top:10px;
  }

  #resumeNav{
    font-size: 20px;
  }

  #grid {
    display: block;

  }

  #school,
  #job,
  #sk {
    display: block;
  }
