/* style.css */
@import url('https://fonts.googleapis.com/css?family=Abel|Lobster|Josefin+Sans:700');

#posterContainer,
#infographic {
  text-align: center;
  margin-bottom: 40px;
}

#grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 220px;
  grid-gap: 10px;
}

#grid img {
  position:absolute;
  top:20px;
  left:260px;
}

#contacts {
  display: block;
}

#education,
#skills {
  background-color: rgba(249, 93, 93, 0.5);
  padding: 10px 20px;
  margin-bottom: 10px;
}

#experience {
  background-color: rgba(196, 196, 196, 0.9);
  padding: 10px 20px;
  margin-bottom: 10px;
}

#school {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

#job {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(3,1fr);
  grid-gap: 10px;
}

#sk {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

#resumeNav{
  text-align: center;
  background-color:gray;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: auto;
}

#resumeNav li {
    display: inline-block;
    margin: 5px 10px;
    border-style: none;
}

#resumeNav li a{
    color:white;
}

#resumeNav li a:visited{
    color:red;
}

.selected {
  background-color: rgb(249, 249, 16)
}

.unselected{
  background-color: white;
}

.storyTeller{
  background-color: black;
  width: 960px;
  height: 500px;
  margin: 0 auto;
}

.storyTellerContainer{
  text-align: center;
}

.right{
  width: 700px;
  font-size: 25px;
  text-align: justify;
}
.left{
  size: 300px 300px;
}

.introContainer{
  text-align: center;
  width: auto;
  margin: auto;
}


.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    /*margin: 5px 300px;*/
    margin: 0 auto;
}

.videoItem {
    background-color: rgba(243, 242, 204,0.5);
    border-style: solid;
    border-color: rgb(169,169,169);
    text-align: center;
    width: auto;
}

.story {
    margin-top: 10px;
}

.videocontent {
    padding: 15px;
    width: 560px;
    text-align: justify;
    margin: auto;
}

.paragraph{
    float: right;
    width: 50%;
    padding-right: 80px;
    text-align: justify;
}
.poster{
    float: left;
}

/* .posterGrid{
    display: grid;
    grid-template-areas: "poster paragraph"
    "poster paragraph";

} */
.posterItem{
    background-color: rgba(243, 242, 204,0.5);
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 700px;
    text-align: justify;
    border-style: solid;
    border-color: rgb(169,169,169);
}

.infoGraphicItem {
    display: block;
    border-style: solid;
    margin: 30px 10%;
}

.infoPar{
    text-align: justify;
    padding: 10px 100px;
}

.infoPar h3{
    text-align: center;
}

.graphicBody{
    text-align: center;
}



h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
  margin: 0;
  text-align: center;
  background-color: rgba(249, 93, 93, 0.5);
  padding: 10px 0;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}

body {
  font-family: 'Abel', sans-serif;
  background-image: url("../image/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

nav ul {
  text-align: center;
  background-color: rgb(249, 93, 93);
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: auto;
}

nav li {
  display: inline-block;
  margin: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

nav a:hover {
  background-color: #C4C4C4;
}

.navLink {
  font-size: 20px;
  color: black;
  padding: 0 10px;
  text-decoration: none;
}

a:visited {
  color: red;
}

p {
  margin: 0;
}
